spring.application.name: sdpe-backend

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}

