spring.application.name: sdpe-backend

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  mail:
    host: smtp.gmail.com
    port: 587
    username: sdpe.notificacoes@gmail.com
    password: dlgl uhfo nleb fnvh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  h2:
    console:
      enabled: true
      path: /h2-console
api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}



